
.form-container {
    width: 85vw;
}

.WhatsApp-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.WhatsApp-button i {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.WhatsApp-button:hover {
    box-shadow: 0 2px 5px #333;
}