
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #141c3a;
}

body {
    margin: 0;
    color: #141c3a;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

.navbar-list li {
    margin: 0 24px 0 44px;
}

.navbar-list li a {
    display: inline-block;
    position: relative;
    color: #141c3a;
    font-weight: bold;
}

.navbar-list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #004aad, #cb6cec);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.navbar-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* box-shadow: 0 4px 6px #000; */

.fsection-container {
    height: 90vh;
    display: flex;
    align-items: center;
}

.fsection-text {
    text-align: center;
    font-size: 20px;
    width: 60vw;
}

.fsection-text p:nth-child(1), .fsection-text p:nth-child(2) {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.fsection-img {
    width: 800px;
    margin-right: 30px;
}

.fsection-img img{
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}

.ssection-container {
    margin-bottom: 100px
}

.ssection-wrapper {
    margin: 0 32px 0 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-title {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}




.footer-section {
    margin: 0 12px 5px 12px;
}

.part-title p:nth-child(1){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.part-title:nth-child(1) p:nth-child(2) a {
    text-decoration: none;
    color: #141c3a;
}

.part-title:nth-child(1) p:nth-child(2) a:hover {
    font-weight: bolder;
}

.part-title p:nth-child(2){
    font-size: 14.5px;
}

.redes-sociales i{
    font-size: 30px;
    margin: 45px 10px 0 10px;
}

.section-lista ul{
    list-style: none;
    margin-left: -30px;
}

.section-lista ul li a{
    color: #141c3a;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    font-size: 14.5px;
}

.section-lista li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #004aad, #cb6cec);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.section-lista li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sello {
    font-size: 12px;
}

.footer-bloque:nth-child(1), .footer-bloque:nth-child(3){
    border-right: 1px solid #141c3a;
}


/* Ajuste responsive footer  */
@media screen and (max-width: 768px) {
    .fsection-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fsection-text {
        text-align: center;
        font-size: 15px;
        margin-bottom: -100px
    }
    
    .fsection-text p:nth-child(1), .fsection-text p:nth-child(2) {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 35px;
    }
    
    .fsection-img {
        width: 800px;
        margin: 0;
    }


    .section-title {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 50px;
    }


    .footer-section {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-bloque:nth-child(1), .footer-bloque:nth-child(3){
        border-right: none;
    }

    .redes-sociales {
        margin-bottom: 30px;
    }
}